.footer-custom {
    background-color: #000;
    font-family: 'Lexend', sans-serif;

    .fale-conosco{
        font-family: Lexend;
        font-weight: 300;
        font-size: 150px!important;

        @media (max-width: 1024px) {
            font-size: 80px !important;
        }
        @media (max-width: 768px) {
            font-size: 64px !important;
        }
        @media (max-width: 425px) {
            font-size: 48px !important;
        }
        @media (max-width: 375px) {
            font-size: 44px !important;
        }
        @media (max-width: 320px) {
            font-size: 36px !important;
        }

        font-family: Lexend;
        line-height: 100%;
        letter-spacing: -4%;

    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .text-light-emphasis {
        color: #ccc !important;
    }

    .text-muted {
        color: #888 !important;
    }

    img {
        max-height: 32px;
    }

    p{
        line-height: 1.25;
        font-weight: 400;
    }
}