.header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-buttons button{
    font-family: Lexend;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;


    border-radius: 0!important;

    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
}