.header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 16px 0px;

    @media (max-width: 768px) {
        flex-direction: column!important;
    }
}

.header-buttons button{
    font-family: Lexend;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;


    border-radius: 0!important;

    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
}

.header-container {
    // @media (max-width: 768px) {
    //     flex-direction: column;
    //     height: auto;
    //     padding: 10px;
    // }
}

.home-hero-metrics{
    @media (max-width: 768px) {
        .col {
            width: 100%!important;
            flex: unset;
        }
    }
}

// ------------------

nav {
    &.bg-dark{
        background-color: rgba(0, 0, 0, 0.6)!important;
    }

    &.bg-white{
        background-color: #ffffffb8 !important;
    }
}