.header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0px;

    @media (max-width: 768px) {
        flex-direction: column!important;
    }
}

.header-buttons button{
    font-family: Lexend;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;


    border-radius: 0!important;

    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
}

.header-container {
    // @media (max-width: 768px) {
    //     flex-direction: column;
    //     height: auto;
    //     padding: 10px;
    // }
}

.home-hero-metrics{
    @media (max-width: 768px) {
        .col {
            width: 100%!important;
            flex: unset;
        }
    }
}

// ------------------

nav {
    &.bg-dark{
        background-color: rgba(0, 0, 0, 0.6)!important;
    }

    &.bg-white{
        background-color: #ffffffb8 !important;
    }
}

li.nav-item a{
    &:hover{
        color: white!important;
    }
}

li.nav-item a{
    font-size: 10.75vh!important;

    @media (max-width: 768px) {
        font-size: 11vw!important;
    }
    @media (max-width: 425px) {
        font-size: 17vw!important;
    }
}

li.nav-item{
    &:hover{
        text-decoration: underline!important;
        text-decoration-thickness: 5%!important;
        // text-decoration-offset: 5%;
    }
}

nav .text-bg-dark li a{
    color: white!important;
    &:hover{
        color: white!important;
    }
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='16' viewBox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H45V5H0V0Z' fill='black'/%3E%3Cpath d='M0 11H45V16H0V11Z' fill='black'/%3E%3C/svg%3E");
}

.navbar-dark.bg-dark{
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3Csvg width='45' height='16' viewBox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H45V5H0V0Z' fill='white'/%3E%3Cpath d='M0 11H45V16H0V11Z' fill='white'/%3E%3C/svg%3E");
    }
}

.navbar-toggler{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

nav {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    @media (min-width: 768px) {
        // max-height: 109px;
    }
}