.home-hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.call-solucoes-1{
    /* O segredo pra conquistar o consumidor moderno? Marketing de influência com alma e inteligência. Na Air, a gente vai além do óbvio. Usamos tecnologia de ponta e soluções personalizadas pra criar campanhas que geram resultados excepcionais. Se você busca o comum, não é com a gente.Mas se quer resultados que fazem a diferença, vem com a gente! */

font-family: 'Lexend';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;

/* Medium Pure */
color: #B0B0B0;


}


.plataforma{
    .text-muted{
        color: #a6a6a6!important;
    }
}