#contactModal, #supportCentralModal, #supportCentralInicialModal{
    input::placeholder,
    textarea::placeholder {
        color: #a6a6a6; /* Light gray placeholder */
        font-weight: 300;
    }

    input,textarea,select {
        border-color: #000;
        font-weight: 300;
        border-radius: 0px;
    }

    select {
        padding: 0.65rem 1rem; /* top/bottom + left/right spacing */
        font-size: 16px;
        font-weight: 300;
        font-family: 'Lexend', sans-serif;
        border-radius: 0px!important;

        option {
            padding: 10px;  /* Not fully supported in all browsers, but helps */
        }

        &:focus {
            box-shadow: none;
            border-color: #333;
        }
    }

    .select2-container--default .select2-selection--single{
        box-shadow: none;
        border-color: #333;
        border-radius: 0px!important;

    }

    .select2.select2-container.select2-container--default{
        width: 100%!important;
    }

    .select2-selection.select2-selection--single,
    .select2-selection__rendered,
    .select2-selection__arrow {
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    /* Hide default Select2 arrow */
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        display: none; /* Hide original arrow */
    }

    /* Insert Font Awesome caret */
    .select2-container--default .select2-selection--single .select2-selection__arrow::after {
        content: '\f078'; /* Unicode for Font Awesome's fa-caret-down */
        font-family: "Font Awesome 6 Free"; /* Or 5 Free depending on version */
        font-weight: 900; /* Required for solid icons */
        font-size: 14px;
        color: #000;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::after {
        content: '\f077'; /* Unicode for Font Awesome's fa-caret-down */
    }

    .select2-selection__clear {
        display: none;
    }

    .select2-results__options {
        padding: 4px 5px;
    }

    .select2-results__option {
        padding: 10px 5px;
        margin: 8px 5px;
    }

    .select2-results__option--highlighted {
        background-color: #ececec;
        color: #000;
    }

    .select2-results__option--selected {
        background-color: #ededed;
        color: #000;
    }
}
