:root{
    --bs-dark-rgb: 0, 0, 0;
}

*, .lexend-text, h1, h2, h3, h4, h5, p{
    font-family: 'Lexend', Courier, monospace;
}

.fw-300{
    font-weight: 300!important;
}
.fw-400{
    font-weight: 400!important;
}
.fw-500{
    font-weight: 500!important;
}
.fw-600{
    font-weight: 600!important;
}
.fw-700{
    font-weight: 700!important;
}

.fs-24{
    font-size: 24px!important;
}

.py-6{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.py-7{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}
.pt-7{
    padding-top: 5rem !important;
}
.pb-7{
    padding-bottom: 5rem !important;
}

.mt-16{
    margin-top: 16px !important;
}
.mt-24{
    margin-top: 24px !important;
}
.mt-56{
    margin-top: 56px !important;
}
.mt-80{
    margin-top: 80px !important;
}
.mt-90{
    margin-top: 90px !important;
}
.mt-166{
    margin-top: 166px !important;
}
.mt-215{
    margin-top: 215px !important;
}
.mt-370{
    margin-top: 370px !important;
}
.mt-660{
    margin-top: 660px !important;
}

.text-muted{
    color: #A6A6A6!important;
    line-height: 1.25;
}

.line-height-1{
    line-height: 1.25!important;
}

.article-link{
    font-family: Lexend;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #000;
}

// ------------

h1 {
    font-size: 128px !important;
    @media (max-width: 1024px) {
        font-size: 80px !important;
    }
    @media (max-width: 768px) {
        font-size: 64px !important;
    }
    @media (max-width: 425px) {
        font-size: 48px !important;
    }
    @media (max-width: 375px) {
        font-size: 44px !important;
    }
    @media (max-width: 320px) {
        font-size: 36px !important;
    }

    font-family: Lexend;
    line-height: 100%;
    letter-spacing: -4%;
}

h2 {
    font-size: 96px !important;
    @media (max-width: 1024px) {
        font-size: 64px !important;
    }
    @media (max-width: 768px) {
        font-size: 48px !important;
    }
    @media (max-width: 425px) {
        font-size: 40px !important;
    }
    @media (max-width: 375px) {
        font-size: 36px !important;
    }
    @media (max-width: 320px) {
        font-size: 32px !important;
    }

    font-family: Lexend;
    line-height: 110%;
    letter-spacing: -3%;
}

h3 {
    font-size: 64px !important;
    @media (max-width: 1024px) {
        font-size: 48px !important;
    }
    @media (max-width: 768px) {
        font-size: 40px !important;
    }
    @media (max-width: 425px) {
        font-size: 32px !important;
    }
    @media (max-width: 375px) {
        font-size: 28px !important;
    }
    @media (max-width: 320px) {
        font-size: 24px !important;
    }

    font-family: Lexend;
    line-height: 110%;
    letter-spacing: -2%;
}

h4 {
    font-size: 48px !important;
    @media (max-width: 1024px) {
        font-size: 40px !important;
    }
    @media (max-width: 768px) {
        font-size: 32px !important;
    }
    @media (max-width: 425px) {
        font-size: 28px !important;
    }
    @media (max-width: 375px) {
        font-size: 24px !important;
    }
    @media (max-width: 320px) {
        font-size: 20px !important;
    }

    font-family: Lexend;
    line-height: 120%;
    letter-spacing: -1%;
}

h5 {
    font-size: 34px !important;
    @media (max-width: 1024px) {
        font-size: 28px !important;
    }
    @media (max-width: 768px) {
        font-size: 24px !important;
    }
    @media (max-width: 425px) {
        font-size: 20px !important;
    }
    @media (max-width: 375px) {
        font-size: 18px !important;
    }
    @media (max-width: 320px) {
        font-size: 16px !important;
    }

    font-family: Lexend;
    line-height: 130%;
    letter-spacing: -1%;
}

p, .li-paragraph {
    font-size: 24px !important;
    @media (max-width: 1024px) {
        font-size: 18px !important;
    }
    @media (max-width: 768px) {
        font-size: 16px !important;
    }
    @media (max-width: 425px) {
        font-size: 15px !important;
    }
    @media (max-width: 375px) {
        font-size: 14px !important;
    }
    @media (max-width: 320px) {
        font-size: 13px !important;
    }

    font-family: Lexend;
    line-height: 160%;
    letter-spacing: 0%;
}

.fs-20{
    font-size: 20px!important;
}

// ------------

// Buttons

.btn{
    border-radius: 0;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 16px;

    &.btn-dark{
        background-color: #000;
        color: #fff;
    }
}

// ------------

#offcanvasNavbarDark a.nav-link{
    font-family: Lexend;
    font-weight: 300;
    font-size: 128px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;

    @media (max-width: 1024px) {
        font-size: 64px;
    }
}

.active {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
}

.navbar-toggler{
    border: none;
}

// --------------


.area-title-wrapper{
    position: relative;

    .area-title-label{
        position: absolute;
        top: 0;
        left: 0;
        color: #A6A6A6;
        transform: translateY(100%);
    }
}