.half-into-bottom-image{
    transform: translateY(50%);
    margin-top: -20%;
}


.nossos-clientes{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    *:has(img){
        img{
            height: auto;
            width: 258px;
            margin: 60px;

            @media (max-width: 1024px) {
                transform: scale(0.8);
            }

            @media (max-width: 425px) {
                transform: scale(1);
            }
        }
    }
}
